.footer-container {
    background-color: #e8e5d4;
}

.icon-nav ul,
.footer-container ul {
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    color: var(--text-secondary-alt);
}

.icon-nav ul li {
    display: inline-block;
    padding-right: 20px;
}

.icon-nav ul li .icon {
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
}

.icon-nav ul li .icon:hover {
    color: var(--secondary-color);
}