:root {
  --primary-color: #14287b;
  --secondary-color: #287ff9;
  --text-primary-alt: #111111;
  --text-secondary-alt: #646464;
  --white-alt: #f6f6f6;
  --primary-transition: all 0.5s ease-out;
}

html {
  scroll-behavior: smooth;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-primary-alt {
  color: var(--text-primary-alt) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-secondary-alt {
  color: var(--text-secondary-alt) !important;
}


.btn-primary {
  background-color: var(--primary-color);
  font-weight: 500;
  padding-left: 30px !important;
  padding-right: 30px !important;
  transition: var(--primary-transition);
  color: var(--white-alt) !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.border-radius {
  border-radius: 5px !important;
}

.border-radius-alt {
  border-radius: 10px !important;
}

.btn:focus {
  box-shadow: none;
}

a:hover {
  text-decoration: none;
}